@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #18181b;
  --cyanD: #06b6d4;
  --blocos: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
}
