.nav {
  height: 100vh;
  padding: 12px 30px;
}

.bloco {
  width: 100%;
  height: 30%;
  background-color: #27272a;
  border-radius: 20px;
}

.btts {
  height: 50%;
}

.redes {
  height: 15%;
}

.pages .logo {
  left: 5%;
  transform: translateY(-50%) translateX(0);
  transition: .5s;
}
