.pic {
  transition: .5s;
  position: relative;
  z-index: 1;
}

.imgGit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .5s;
  opacity: 0;
}

.pic:hover {
  transform-origin: top;
  scale: 1.5;
  z-index: 2;
}

.pic:hover .imgGit {
  top: 60%;
  transform: translateY(50%);
  z-index: 2;
  opacity: 1;
  background-color: var(--blocos);
}